html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    display: flex;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
}

#logo {
    display: inline-flex;
}

header img {
    height: 50px;
    width: auto;
    padding-left: 10px;
}

#top-menu {
    display: inline-flex;
    height: 69px;
}

.link {
    text-decoration: underline;
}

nav a {
    margin: auto 10px;
    padding: auto 10px;
}

#main-top {
    position: relative;
    top: 70px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    width: 1200px;
    height: auto;
}